################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.ipynb_checkpoints
keyboard_actions.log
mouse_actions.log